<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<title>Canola Theme Maker</title>
<link href="/media/css/canola.css" rel="stylesheet" type="text/css" >
</head>

<body>

<div id="container">

	<div id="header">
    	<a href="/"><img class="alignLeft" src="/media/images/top_other_pages.jpg" alt="internal top" width="778" height="194"></a>

        <div class="alignClear"></div>
    </div>	
    
    <div id="internalContent">
          <div id="internalContentBox" align="center">
       	    <div id="top_box_terms"><img src="/media/images/top_box_terms.jpg" width="698" height="47" alt="internal top box"></div>
            <div id="content_box_terms"><br><br>
                  <b>Your Use of the Site and Site Content<b><br>
All content appearing on the Site, including without limitation all text, logos, images, user interfaces, illustrations, photographs, screenshots, icons, trademarks, computer code and
other materials that Canola Theme Maker and its partners make available on or through the Site (collectively “Site Content”), and the collection, arrangement and assembly of such Site
Content, is the exclusive property of Canola Theme Maker or its partners. <br>
Site Content is protected under copyright, trademark, trade secret, and other laws.<br>
<b>Additional Use Restrictions</b><br>
You agree not to use the Site and Canola Theme Maker Service to:<br>
.: violate any local, state, national or international law or regulation;<br>
.: transmit any material that is abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another’s privacy, hateful, or racially, ethnically or otherwise
objectionable;<br>
.: transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation;<br>
.: transmit any material that contains software viruses or any other computer code, file or program designed to interrupt, destroy or limit the functionality of any computer software or
hardware or telecommunications equipment;<br>
.: stalk, harass or harm another individual;<br>
.: impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity; or<b>
.: interfere with or disrupt the Site or servers or networks connected to the Site, or disobey any requirements, procedures, policies, or regulations of networks connected to the Site.<br>
         	  <div id="footer_box_terms">
              		<div id="back_button">
                    <a href=".."><img src="/media/images/btn_back2.jpg" alt="back" width="194" border="0" height="42" onClick="history.back();return false;"></a></div>
              </div> 
       	    <div class="alignClear"></div>
          </div>

      
    </div>  
    <div id="footer">
      	<img class="alignLeft" src="/media/images/footer.jpg" alt="footer" width="778" height="104">
        <div class="alignClear"></div>
    </div>
    
</div>
</body>
</html>
