{% extends "base.html" %}

{% block content %}
<div id="container">
  <div id="internalContent">
    <div id="internalContentBox" align="center">
      <div id="internal_content_box"> 
      Thanks for submitting you project onto our system. Your project will be analyzed both by our ranking algorithm and by a human being.<br><br>
      Why not <a href="/add/">add</a> another project?
     

       {% if project %}
 

{% else %}
    <p>No projects are available.</p>
{% endif %} 
       
         <br><br>    
      <div class="alignClear"></div>
      

        <div class="alignClear"></div>
      </div>
    
      <div id="buttons">
        <div id="button2"></div>
      	<div class="alignClear"></div>

      </div>
      <div class="alignClear"></div>
       
      
      <div class="alignClear"></div>
        </div>
  </div>
  
      {% endblock %}



