{% extends "base.html" %}

{% block content %}
  
  
<div id="container">

  <div id="internalContent">
    <div id="internalContentBox" align="center">
   
      <div id="internal_content_box"> 
   
           
  
       <b>GNU AFFERO GENERAL PUBLIC LICENSE</b><br>
             Version 3, 19 November 2007<br><br>

      

       
         <br><br>    
      <div class="alignClear"></div>
      

        <div class="alignClear"></div>
      </div>
    
      <div id="buttons">
                <div id="button1"><a href="../">Back</a>
                </div>
        <div id="button2"></div>
      	<div class="alignClear"></div>

      </div>
      <div class="alignClear"></div>
       
      
      <div class="alignClear"></div>
        </div>
  </div>
  
      {% endblock %}
