{% extends "base.html" %}

{% block content %}
  

{% load innovation_extras %}

  
<div id="container">

  <div id="internalContent">
    <div id="internalContentBox" align="center">
   
      <div id="internal_content_box"> 
   
           
  
        {% if projects %}
        {% for project in projects %}
        <a href="/browse/{{project.id}}">{{project.project_name}}</a>
        {{ project.project_description|split }}<br>
        {% endfor %}
         {% else %}
          No projects available
          {% endif %}
      
       
         <br><br>    
      <div class="alignClear"></div>
      

        <div class="alignClear"></div>
      </div>
    
      <div id="buttons">
                <div id="button1"><a href="../">Back</a>
                </div>
        <div id="button2"></div>
      	<div class="alignClear"></div>

      </div>
      <div class="alignClear"></div>
       
      
      <div class="alignClear"></div>
        </div>
  </div>
  
      {% endblock %}
