{% extends "base.html" %}

{% block content %}
  
  
<div id="container">

  <div id="internalContent">
    <div id="internalContentBox" align="center">
   
      <div id="internal_content_box"> 
   
           
  
       <p>INdT Innovation Tools is a cross stream collaborative project.</p> <br>
It is based on an algorithm written for a dissertation <em><a href="http://ianlawrence.info/downloads/MBA/monografia.pdf">How to choose Social Investment Projects</a></em> by Andre Erthal and Ian Lawrence as part of a joint INdT/Unicamp MBA in <a href="http://www.extecamp.unicamp.br/gestaodainovacao/">The Strategic Management of Technology Innovation.</a>. </p>

<p>The inputs to the algorithm were modified by Ana Sena from Innovation Management and it was launched internally at INdT in February 2011. </p>
<p>It is also an example of an INdT <strong>Pet Project</strong></p> 
      
       
         <br><br>    
      <div class="alignClear"></div>
      

        <div class="alignClear"></div>
      </div>
    
      <div id="buttons">
                <div id="button1"><a href="../">Back</a>
                </div>
        <div id="button2"></div>
      	<div class="alignClear"></div>

      </div>
      <div class="alignClear"></div>
       
      
      <div class="alignClear"></div>
        </div>
  </div>
  
      {% endblock %}
