<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<title>Canola Theme Maker</title>
<link href="/media/css/canola.css" rel="stylesheet" type="text/css" >
<script type="text/javascript">
// drop down the form function
function jumptodiv() {
  document.getElementById("dropdownform").style.display='inline';
}

// pull the form back up again..i.e make it invisible
function jumpawayfromdiv() {
  document.getElementById("dropdownform").style.display='none';
}
</script>
</head>

<body>

<div id="container">

	<div id="header">
    	<a href="/"><img class="alignLeft" src="/media/images/top_other_pages.jpg" alt="internal top" width="778" height="194"></a>
        <div class="alignClear"></div>
    </div>	
    
    <div id="step2">
    	<img class="alignLeft" src="/media/images/step3.jpg" alt="step 2" width="778" height="34">
        <div class="alignClear"></div>
    </div>	
    
    <div id="internalContent">
          <div id="internalContentBox" align="center">
       	    <div id="top_box">{% if deb %}
            <img src="/media/images/top_box_successfully.jpg" width="698" height="47" alt="internal top box">{% endif %} </div>
            	  <div id="internal_content_box">
                  	<div id="box">
               		  
               		 
                      <div id="title"  class="general_text">
                      {% if deb %}<strong><br><b>
That's your own theme! Enjoy it and share, if you want</b>
</strong><br> </div>
                      <div id="thumb_preview">
    <img src="/media/themes/flash/theme_thumb_success.png" width="190" height="113" alt="Theme thumb">{% endif %}</div>
        
                        <div id="publish_options" class="internal_gray_box_text">{% if deb %}<strong>Do you want to publish your <br>theme on the Theme Maker website?</strong><br>
                        
                        <!-- <table width="200" border="0" cellspacing="0" cellpadding="0"> -->
                        


<label for="number1"><input type="radio" value="1" name="number" id="showform" onClick="jumptodiv();"> YES</label>
<label for="number2"><input type="radio" value="2" name="number" id="hideform" onClick="jumpawayfromdiv();"> NO</label>

<br><br>Please fill out the form below<br>

<span id="dropdownform" style="display:none">

<div id="publish_options" class="internal_gray_box_text1">
<form  method="POST"  action="">
<p><label for="id_name">Name:</label> {{ form.name }}</p>
<p><label for="id_email">Email:</label> {{ form.email }}</p>
<p><label for="id_terms">Now read our terms and choose a type of license</p>
<p><input type="image" src="/media/images/btn_continue.png" ALT="Send details" /></p>

<input type="hidden" name="publish" value="1" />
</form>
</span>
</div> 

 {% else %}
<div class="general_text">
  <H3>Your theme was not generated succesfully</H3>
    <p>Please <a href="/upload/">try again</a>. Try using a file name which matches your theme name.</p></div></div>
{% endif %} 


<!--</table> -->


<div class="alignClear"></div></div><br><br><br><br><br><br>
                      <div id="download_btn">{% if deb %}<a href="/media/downloads/{{deb}}"><img src="/media/images/btn_download_theme.jpg" style="border-style: none" border="0" width="193" height="40" alt="Download your theme"></a>{% endif %}  </div>
                        <div class="alignClear"></div>
                    </div><br><br><br><br><br><br>
                    
                  </div>
                  <div id="line"><img class="alignLeft" src="/media/images/line.jpg" alt="line" width="698" height="10">
                  <div id="buttons">
                  <div id="button1"><a href="/"><img src="/media/images/btn_back2.png" width="194" height="42" border="0" alt="Back"></a>
                </div>
         	  <div id="footer_box"><img src="/media/images/footer_internal_box.jpg" width="698" height="12" alt="home footer box"></div> </div>
            	  <div class="alignClear"></div>
                  
          </div>
      
    </div>  
    <div id="footer">
      	<img class="alignLeft" src="/media/images/footer.jpg" alt="footer" width="778" height="104">
        <div class="alignClear"></div>
    </div>
    
</div>
</body>
</html>

