{% extends "base.html" %}

{% block content %}
  
  
<div id="container">

  <div id="internalContent">
    <div id="internalContentBox" align="center">
   
      <div id="internal_content_box"> 
   
           
       <p>Ana Sena <strong>Innovation Management</strong></p>
       <p>Ian Lawrence/Andre Erthal <strong>Service Experience</strong></p>
       <p>Glaubert Oliveira <strong>SW&UI</strong></p>

       
         <br><br>    
      <div class="alignClear"></div>
      

        <div class="alignClear"></div>
      </div>
    
      <div id="buttons">
                <div id="button1"><a href="../">Back</a>
                </div>
        <div id="button2"></div>
      	<div class="alignClear"></div>

      </div>
      <div class="alignClear"></div>
       
      
      <div class="alignClear"></div>
        </div>
  </div>
  
      {% endblock %}
