{% extends "base.html" %}




{% block content %}
  
  
<div id="container">

 
  <div id="internalContent">
    <div id="internalContentBox" align="center">
      <div id="top_box"><img src="/media/images/top_box_profile.jpg" width="698" height="47" alt="internal top box"></div>
      <div id="internal_content_box"> 
      hi
       
         <br><br>    
      <div class="alignClear"></div>

        <div class="alignClear"></div>
      </div>
      <div id="line"><img class="alignLeft" src="/media/images/line.jpg" alt="line" width="698" height="10"></div>
      <div id="buttons">
        <div id="button2"></div>
      	<div class="alignClear"></div>
     </form> 
      </div>
      <div class="alignClear"></div>
       <div id="footer_box"><img src="/media/images/footer_internal_box.jpg" width="698" height="12" alt="home footer box"></div>
      
      <div class="alignClear"></div>
        </div>
  </div>
{% endblock %}

 

  
