<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Innovation Beta</title>
<link rel="stylesheet" type="text/css" href="/media/css/canola.css" />
{% block extrahead %}{% endblock %}

</head>
<body>
   
 
          {% block top %}
           <!--- the top header --->
            <div id="header"><img class="alignLeft" src="/media/images/top_home.jpg" alt="top" width="778" height=
"267">
          <div class="alignClear"></div>
          </div>
         
      
       {% endblock %}
       
       
         {% block content %}
        
         
         
         {% endblock %}
         
         {% block footer %}
         
         <div id="footer">
<div id="footer_copyright">Innovation Tools is a project brought to you by <a href="http://www.indt.org.br" target="_blank">INdT</a></div>
<div id="footer_menu"><a href="/">HOME</a> |  <a href="/about">ABOUT</a>  |  <a href="/credits">CREDITS</a>  |  <a href="/terms">TERMS OF USE</a> |  <a href="/admin">ADMIN</a>  {% if user.is_authenticated %} | User: {{ user.username }}{% endif %}
</div>

<div class="alignClear"></div>
<br><br>
</div>
<div class="alignClear"></div>
</div>

         
         {% endblock %}
</body>
</html>
